* {
    font-family: "Electrolize", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
}

h1,h2,h3,h4 {
    font-family: "Roboto Condensed", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.navbar {
    display: flex;
    background-color: red;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    height: 100px;
    width: 100px;
}

body {
    /* background: linear-gradient(#bf0fff, #cbff49); */
    margin: 0px;
}

.no-pallino {
    list-style-type: none;
    display: flex;
}

.a2 {
    display: flex;
    text-decoration: none;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.a2:hover {
    border-bottom: 2px solid yellow;
}



button:hover {
    background-color: #45a049;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.flex {
    display: flex;
    width: 60%;

}

aside {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    justify-content: center;
    width: 40%;
}

article {
    width: 60%;
}

.intestazione {
    background-image: url('https://picsum.photos/1000');
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textedit {
    text-align: center;
}

.immagineaside {
    width: 300px;
}

.imgarticle {
    width: 300px;
}

.btnarticle {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

main {
    display: flex;
}